<div class="jumbotron mt-5">
    <p class="text-center">
        <img src="images/logo-transparent.png">
        <h3 class="text-center p-4">Laundry management designed for the 21st Century</h3>
        <hr>
        <div class="row p-4">
            <div class="col-md-6">
                <button class="btn btn-block btn-success p-3">SIGN UP</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-info p-3">LOGIN</button>
            </div>
        </div>
    </p>
</div>